package ${servicePackage};

import ${pojoPackage}.${bigDoName};
import tf56.spider.base.ResultModel;
import java.util.List;

/**
* author: dy
* JDK-version:  JDK1.8
* comments:  ${headName}服务层
* since Date： ${date}
*/
public interface ${bigServiceName} {

	/**
	* 多条件查询(分页)
	* @param ${minDoName} ${bigDoName}
	* @return ResultModel<${bigDoName}>
    */
   public ResultModel<List<${bigDoName}>> select${bigDoName}ListForPage(${bigDoName} ${minDoName});

    /**
    * 根据参数查询
    * @param id ${idType}
    * @return ResultModel<${bigDoName}>
    */
   public ResultModel<${bigDoName}> selectByParams(${bigDoName} ${minDoName});

    /**
    * 添加
    * @param ${minDoName} ${bigDoName}
    * @return ResultModel<Integer>
    */
   public ResultModel<Integer> create${bigDoName}(${bigDoName} ${minDoName});

    /**
    * 修改
    * @param ${minDoName} ${bigDoName}
	* @return ResultModel<Integer>
    */
   public ResultModel<Integer> update${bigDoName}(${bigDoName} ${minDoName});

}
