package ${packageName};

import java.io.Serializable;
import java.util.Date;

/**
* ${headName}模型
* @author: dy
* JDK-version:  JDK1.7
* @since  ${date}
*/
public class ${head} extends Base{

#foreach($colum in $columList)

	/**
    * $!colum.remark
    */
	private $!colum.type $!colum.name;
#end

#foreach($colum in $columList2)

    public $!colum.type get$!{colum.bigName}() {
    	return $!colum.smallName;
    }

    public void set$!{colum.bigName}($!colum.type $!{colum.smallName}) {
    	this.$!colum.smallName = $!colum.smallName;
    }
#end
}