package ${packageName};

import lombok.Getter;
import lombok.Setter;
import java.util.Date;

/**
* ${headName}模型
* @author: dy
* JDK-version:  JDK1.7
* @since  ${date}
*/
@Getter
@Setter
public class ${head}{

#foreach($colum in $columList)

	/**
    * $!colum.remark
    */
	private $!colum.type $!colum.name;
#end
}