package ${daoPackage} ;

import ${pojoPackage}.${bigDoName};
import org.springframework.stereotype.Repository;
import java.util.List;

/**
* ${headName}持久层
* @author: dy
* JDK-version:  JDK1.8
* @since ${date}
*/
@Repository
public interface ${bigDaoName} {

	/**
	 * 根据参数查询表数据
	 * @param ${minDoName}
	 * @return ${bigDoName}
	 */
	${bigDoName} selectByParams(${bigDoName} ${minDoName}) throws Exception;

	/**
	* 多条件查询表信息(分页)
	* @param ${bigDoName}
	* @return List<${bigDoName}>
	*/
	List<${bigDoName}> selectListByParams(${bigDoName} ${minDoName}) throws Exception;
	/**
	 * 插入信息
	 * @param ${minDoName}
	 * @return int
	 */
	int insert(${bigDoName} ${minDoName}) throws Exception;

	/**
	* 根据ID更新信息
	* @param ${minDoName}
	* @return int
	*/
	int updateById(${bigDoName} ${minDoName}) throws Exception;

	/**
	 * 根据ID删除信息
	 * @param id
	 * @return int
	 */
	int deleteById(${idType} id) throws Exception;

}
