<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${daoPackage}.${tableName}Mapper" >

<!-- DengYang-->
<!-- 约定标准:查询、修改尽可能共用同一个sql，条件约束放在业务层处理-->
<!-- 约定标准:查询、修改尽可能共用同一个sql，条件约束放在业务层处理-->
<!-- 原则:能共用一个sql的绝不要再造一个sql,删除和修改sql,请确保全局工程不受到影响！-->
<!-- DengYang-->

	 #*
	 <resultMap id="${tableName}Map" type="${tableName}">
        #foreach($xmlBo in ${list})
        <result property="$!{xmlBo.propertyName}" column="$!{xmlBo.columnName}"/>
        #end
    </resultMap>
   	 *#
   	<!-- 所有查询字段 -->
   	<sql id="allSelectionColumn">
		#foreach($xmlBo in ${list})#if(($velocityCount)!=$!{list.size()})
$!{xmlBo.columnName},
        #else
$!{xmlBo.columnName}
	#end#end</sql>
   	
   	<!-- 根据ID查询实体数据 -->
    <select id="selectByParams" parameterType="${idType}" resultType="${tableName}">
        SELECT <include refid="allSelectionColumn"/> FROM ${table_name} WHERE id = #{value} LIMIT 1
    </select>

    <!--多条件查询表信息(分页) -->
    <select id="selectListByParams" parameterType="${tableName}" resultType="${tableName}">
        SELECT <include refid="allSelectionColumn"/> FROM ${table_name} WHERE 1=1
         #foreach($xmlBo in ${list})#if(($velocityCount)==$!{list.size()})<if test="$!{xmlBo.propertyName} != null #if($!{xmlBo.type} == "STRING")and $!{xmlBo.propertyName} != ''#end">
                    AND $!xmlBo.columnName = #{$!{xmlBo.propertyName}}
                </if>
                #else<if test="$!{xmlBo.propertyName} != null #if($!{xmlBo.type} == "STRING")and $!{xmlBo.propertyName} != ''#end">
                    AND $!xmlBo.columnName = #{$!{xmlBo.propertyName}}
                </if>
                #end#end
                <if test="startRow != null and rowNum!=null">
                    limit ${startRow},${rowNum}
                </if
    </select>
    <select id="selectCountByParams" parameterType="${tableName}" resultType="int">
        SELECT COUNT(id) FROM ${table_name} WHERE 1=1
        #foreach($xmlBo in ${list})#if(($velocityCount)==$!{list.size()})<if test="$!{xmlBo.propertyName} != null #if($!{xmlBo.type} == "STRING")and $!{xmlBo.propertyName} != ''#end">
                            AND $!xmlBo.columnName = #{$!{xmlBo.propertyName}}
                        </if>
                        #else<if test="$!{xmlBo.propertyName} != null #if($!{xmlBo.type} == "STRING")and $!{xmlBo.propertyName} != ''#end">
                            AND $!xmlBo.columnName = #{$!{xmlBo.propertyName}}
                        </if>
                        #end#end
    </select>

    <!-- 添加数据 -->
    <insert id="insert" parameterType="${tableName}">
#if(${idType} != 'String')
        <selectKey resultType="${idType}" order="AFTER" keyProperty="id">
        SELECT LAST_INSERT_ID() AS id
        </selectKey>
#end
        INSERT INTO ${table_name}(
        #foreach($xmlBo in ${list})
#if(($velocityCount)!=$!{list.size()})$!xmlBo.columnName,
        #else
$!xmlBo.columnName
        #end#end
)VALUES(
        #foreach($xmlBo in ${list})#if(($velocityCount)!=$!{list.size()})
#{$!xmlBo.propertyName},
        #else
#{$!xmlBo.propertyName}#end#end)
    </insert>

    <!-- 根据ID更新信息-->
    <update id="updateById" parameterType="${tableName}">
        UPDATE ${table_name} SET
        #foreach($xmlBo in ${list})#if(($velocityCount)==$!{list.size()})<if test="$!{xmlBo.propertyName} != null #if($!{xmlBo.type} == "STRING")and $!{xmlBo.propertyName} != ''#end">
            $!xmlBo.columnName = #{$!{xmlBo.propertyName}}
        </if>
        #else<if test="$!{xmlBo.propertyName} != null #if($!{xmlBo.type} == "STRING")and $!{xmlBo.propertyName} != ''#end">
            $!xmlBo.columnName = #{$!{xmlBo.propertyName}},
        </if>
        #end#end
        WHERE id = #{id}
    </update>

    <!-- 根据ID删除数据-->
    <delete id="deleteById" parameterType="${idType}">
        DELETE FROM ${table_name} WHERE id = #{value}
    </delete>
</mapper>